* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.css-1wvake5 {
  position: relative;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #efefef;
  -webkit-transition: width, left, right, 300ms;
  transition: width, left, right, 300ms;
  width: 73px !important;
  min-width: 72px !important;
}
